@model IEnumerable<LoginMVC.Models.User>

@{
    ViewData["Title"] = "Search";
}

<style>
    .table{
        border-collapse: collapse;  
        border : 1px solid #c9c8c5;
        text-align: center;
        letter-spacing: .6px;    
    }

    tr:nth-child(even) {
    background-color: #eee;
    }

    input[type="text"]{
        margin-right: 15px;
    }

</style>

<center>
    @using (Html.BeginForm("Index", "User", FormMethod.Get))
    {
        <input type="text" name="search" />
        <input class="btn btn-dark mb-2" type="submit" value="Search" name="submit" />
    }
</center>

<p style="text-align:end">
    <a class="btn btn-success" asp-action="Create">Create User</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
         @if(Model != null)
         {
             @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <button class="btn btn-danger">@Html.ActionLink("Delete","Delete",new{Id = item.Id},new{Style = "color:White;text-decoration:none;"})</button>
                    </td>
                </tr>
            }
         }
    </tbody>
</table>
