@model IEnumerable<LoginMVC.Models.Hospital>
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    @if(Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://static.toiimg.com/photo/imgsize-704065,msid-74034555/74034555.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Address</p>
                        <p class="card-text">@item.Zipcode</p>
                        <p class="card-text">@item.City</p>
                        <p class="card-text">@item.State</p>
                        <p class="card-text">@item.Country</p>
                    </div>
                </div>
            </div>
        }
    }
    
</div>


